@use "bootstrap/scss/bootstrap" with (
  $primary: #43b895,
  $secondary: #EDF0E1,
  $success: #49b265,
  $info: #3f4458,
  $warning: #c7a22d,
  $danger: #f44336,
  $light: #c0ccda,
  $dark: #001738,
  $font-family-sans-serif: "Metropolis-Medium",
);

// 🔤 Font face
@font-face {
  font-family: "Metropolis-Medium";
  src: url("@/assets/polices/Metropolis-Medium.eot"),
       url("@/assets/polices/Metropolis-Medium.eot?#iefix") format("embedded-opentype"),
       url("@/assets/polices/Metropolis-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Styles custom
h2 > a {
  color: black;
  text-decoration: none;
}

body {
  font-size:1.1em;
}


